---
layout: default
---

<section class="intro">
  {%- if page.avatar -%}
  <img class="avatar" src="{{ page.avatar | relative_url }}" alt="{{ site.author }}" width="96" height="96">
  {%- endif -%}
  <div class="intro-body">
    {{ content }}
  </div>
</section>

<section class="home-section">
  <h2 class="section-heading">Writing</h2>
  {% include post-list.html posts=site.posts limit=8 %}
  {%- if site.posts.size > 8 -%}
  <p class="more"><a href="{{ '/blog/' | relative_url }}">All posts &rarr;</a></p>
  {%- endif -%}
</section>
